@model WebAPITestApp.Web.Models.AuthModels.UserModel
<!DOCTYPE html>

<html>
<head>
    <title>Create new user page</title>
</head>
<body>
<div>
    <h2>User creation</h2>
    @using (Html.BeginForm("UserView", "Create", FormMethod.Post))
    {
        <table>
            <tr>
                <td>@Html.NameFor(a => a.UserName);</td>
            </tr>
            <tr>
                <td>@Html.PasswordFor(a => a.Password);</td>
            </tr>
            <tr>
                <input type="submit" value="Create" />
            </tr>
        </table>
    }
</div>
</body>
</html>