<!DOCTYPE html>

<html>
<head>
    <title>User actions</title>
</head>
<body>
<div>
    <h3>Hello dear friend! What would you like us to do?</h3>
    @Html.ActionLink("Create new user", "Create", "UserView");
    @Html.ActionLink("Update existing one user", "Edit", "UserView");
</div>
</body>
</html>